# Netflix Data 
## Data Cleaning and Transforamtion

In [41]:
### Delete redundant columns
### Renaming the columns.
### Dropping duplicates.
### Remove the NaN values from the dataset
### Check for some more Transformations

In [1]:
import pandas as pd

In [4]:
pd.__version__

'2.2.2'

In [9]:
df = pd.read_csv(r"C:\Users\K A L K I D A N\OneDrive\Desktop\projects\data cleaning\netflix1.CSV")

In [11]:
df

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
...,...,...,...,...,...,...,...,...,...,...
8785,s8797,TV Show,Yunus Emre,Not Given,Turkey,1/17/2017,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas"
8786,s8798,TV Show,Zak Storm,Not Given,United States,9/13/2018,2016,TV-Y7,3 Seasons,Kids' TV
8787,s8801,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,12/15/2016,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ..."
8788,s8784,TV Show,Yoko,Not Given,Pakistan,6/23/2018,2016,TV-Y,1 Season,Kids' TV
8789,s8786,TV Show,YOM,Not Given,Pakistan,6/7/2018,2016,TV-Y7,1 Season,Kids' TV

In [12]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [13]:
df.info

<bound method DataFrame.info of      show_id     type                             title         director  \
0         s1    Movie              Dick Johnson Is Dead  Kirsten Johnson
1         s3  TV Show                         Ganglands  Julien Leclercq
2         s6  TV Show                     Midnight Mass    Mike Flanagan
3        s14    Movie  Confessions of an Invisible Girl    Bruno Garotti
4         s8    Movie                           Sankofa     Haile Gerima
...      ...      ...                               ...              ...
8785   s8797  TV Show                        Yunus Emre        Not Given
8786   s8798  TV Show                         Zak Storm        Not Given
8787   s8801  TV Show                Zindagi Gulzar Hai        Not Given
8788   s8784  TV Show                              Yoko        Not Given
8789   s8786  TV Show                               YOM        Not Given

            country  date_added  release_year rating   duration  \
0     United States   9/25/2021          2020  PG-13     90 min
1            France   9/24/2021          2021  TV-MA   1 Season
2     United States   9/24/2021          2021  TV-MA   1 Season
3            Brazil   9/22/2021          2021  TV-PG     91 min
4     United States   9/24/2021          1993  TV-MA    125 min
...             ...         ...           ...    ...        ...
8785         Turkey   1/17/2017          2016  TV-PG  2 Seasons
8786  United States   9/13/2018          2016  TV-Y7  3 Seasons
8787       Pakistan  12/15/2016          2012  TV-PG   1 Season
8788       Pakistan   6/23/2018          2016   TV-Y   1 Season
8789       Pakistan    6/7/2018          2016  TV-Y7   1 Season

                                              listed_in
0                                         Documentaries
1     Crime TV Shows, International TV Shows, TV Act...
2                    TV Dramas, TV Horror, TV Mysteries
3                    Children & Family Movies, Comedies
4      Dramas, Independent Movies, International Movies
...                                                 ...
8785                  International TV Shows, TV Dramas
8786                                           Kids' TV
8787  International TV Shows, Romantic TV Shows, TV ...
8788                                           Kids' TV
8789                                           Kids' TV

[8790 rows x 10 columns]>

In [15]:
df[["rating"]]  # Use df instead of data

     rating
0     PG-13
1     TV-MA
2     TV-MA
3     TV-PG
4     TV-MA
...     ...
8785  TV-PG
8786  TV-Y7
8787  TV-PG
8788   TV-Y
8789  TV-Y7

[8790 rows x 1 columns]

In [16]:
df = df.drop(columns=["rating"])

In [17]:
df.head()

,show_id,type,title,director,country,date_added,release_year,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,125 min,"Dramas, Independent Movies, International Movies"

In [18]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'duration', 'listed_in'],
      dtype='object')

In [19]:
df.columns = df.columns.str.title()

In [20]:
df.columns

Index(['Show_Id', 'Type', 'Title', 'Director', 'Country', 'Date_Added',
       'Release_Year', 'Duration', 'Listed_In'],
      dtype='object')

In [21]:
df.head()

,Show_Id,Type,Title,Director,Country,Date_Added,Release_Year,Duration,Listed_In
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,125 min,"Dramas, Independent Movies, International Movies"

In [22]:
df[df.duplicated()]

Empty DataFrame
Columns: [Show_Id, Type, Title, Director, Country, Date_Added, Release_Year, Duration, Listed_In]
Index: []

In [23]:
df.duplicated().sum()

0

In [24]:
df.drop_duplicates(inplace=True)

In [26]:
df.isnull().sum()

Show_Id         0
Type            0
Title           0
Director        0
Country         0
Date_Added      0
Release_Year    0
Duration        0
Listed_In       0
dtype: int64

In [28]:
df.dropna(inplace=True)

In [30]:
df["Show_Id"].unique()

array(['s1', 's3', 's6', ..., 's8801', 's8784', 's8786'], dtype=object)

In [32]:
df["Show_Id"] = df["Show_Id"].str.replace("s", "", regex=True)

In [33]:
df["Show_Id"]

0          1
1          3
2          6
3         14
4          8
        ...
8785    8797
8786    8798
8787    8801
8788    8784
8789    8786
Name: Show_Id, Length: 8790, dtype: object

In [34]:
df.head()

,Show_Id,Type,Title,Director,Country,Date_Added,Release_Year,Duration,Listed_In
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries
1,3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,91 min,"Children & Family Movies, Comedies"
4,8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,125 min,"Dramas, Independent Movies, International Movies"

In [35]:
df["Date_Added"] = df["Date_Added"].str.replace("/", "-", regex=False)

In [36]:
df.head()

,Show_Id,Type,Title,Director,Country,Date_Added,Release_Year,Duration,Listed_In
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9-25-2021,2020,90 min,Documentaries
1,3,TV Show,Ganglands,Julien Leclercq,France,9-24-2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,6,TV Show,Midnight Mass,Mike Flanagan,United States,9-24-2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9-22-2021,2021,91 min,"Children & Family Movies, Comedies"
4,8,Movie,Sankofa,Haile Gerima,United States,9-24-2021,1993,125 min,"Dramas, Independent Movies, International Movies"

In [38]:
df["Country"].value_counts()

Country
United States     3240
India             1057
United Kingdom     638
Pakistan           421
Not Given          287
                  ...
Iran                 1
West Germany         1
Greece               1
Zimbabwe             1
Soviet Union         1
Name: count, Length: 86, dtype: int64